.venv/*
JAAD/*
__pycache__/*
*.pyc
*.pyo
.DS_Store
.idea/*
.vscode/*
*.log
.codex
*.ipynb_checkpoints
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.pb
*.zip
*.tar.gz
JAAD_clips/*
annotation*
behavior.png
download_clips.sh
README.md
images/*